<!-- About Section -->
<section id="about" class="about-section text-center">
    <div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">We're here to help.</h2>
        <p class="text-white-50">We will take the time to review your processes and needs and find the best solution for your business.
            <a class="nav-link" [routerLink]="['/about']">Learn more about us</a> 
        </p>
        </div>
    </div>
    <img src="../assets/images/ipad.png" class="img-fluid" alt="">
    </div>
</section>