<div class="jumbotron text-white parallax">
    <div class="col-md-8 px-0 content-fit" style="height:auto;">
      <h1 class="display-4 font-italic">About Almina Software Consulting...</h1>
      <p class="lead my-3">We're a small firm that assists businesses with techincal processes and the implementation of technology solutions.</p>
      <ul>
        <li>Company Mission</li>
        <li>Company Vision</li>
        <li>Company Values</li>
      </ul>
      <div class="div-tech-blk">
          <h3><i>About the founder</i> :  Marc Mendoza</h3>
          <p>He's a senior software developer and technology team leader with over 20 years’ experience gained in software development 
            and process improvement.  Proven success in development of innovative solutions, implementing applications, and leading 
            teams of technology professionals.  Able to leverage superior problem solving, facilitation, and consensus building skills 
            to drive strategic and tactical goals.  Lead with a focus on customer service and technical transparency.  
            Regarded as a thought leader and technical role model interfacing with and inspiring teams and partners across the globe.  
            Skilled in employing Agile and Scrum processes to guide development and improvement of technology initiatives.</p>
      </div>
    </div>
</div>