
<footer class="footer fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a href="https://github.com/777marc">Github</a>  
            </div>
            <div class="col-sm">
                <a href="https://www.linkedin.com/in/marc-mendoza-51a6b06/">LinkedIn</a>
            </div>
            <div *ngIf="loggedIn()" class="col-sm">
                <a (click)="logout()"><p>Logout</p></a>
            </div>
            <div *ngIf="!loggedIn()" class="col-sm">
                <a [routerLink]="['/admin/login']">Login</a>
            </div>
        </div>
    </div>
</footer>
