<div class="container">
    <div class="row">
      <div class="col-sm">
          <button type="button" class="btn btn-primary" (click)="NewBlogPost()">New Blog Post</button>
      </div>
      <div class="col-sm">
          <button type="button" class="btn btn-info">Manage Email Lists</button>
      </div>
    </div>
    <hr>
    <h3>Current Posts:</h3>
    <br>
          
    <p *ngIf="!blogPosts"><em>Loading...</em></p>
    
    <table class='table' *ngIf="blogPosts">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of blogPosts">
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.description }}</td>
                <td>
                    <button (click)="EditBlogPost(post.id)" 
                            class="btn btn-info">
                            x
                    </button>
                </td>
                <td>
                    <button (click)="DeleteBlogPost(post.id)" 
                            class="btn btn-danger">
                            x
                    </button>
                </td>
                
            </tr>
        </tbody>
    </table>
    
    <!-- <div *ngIf="message" class="success">{{ message }}</div> -->

  </div>