.div-main {
    padding: 40px;
    margin-top: 20px;
}

.div-post-container {
    padding: 20px;
    margin-top: 25px;
}

.div-post {
    padding: 25px;
    background-color: white;
    background: rgba(252, 252, 252, 0.9);
    margin: 25px;
    font-weight: bolder;
}
