
<div class="text-white parallax div-main">
    <ul>
        <li>Site Design</li>
        <li>Database Design</li>
        <li>This is really busy</li>
    </ul>
</div>

<div class="div-post-container parallax">
    <div class="div-post" *ngFor="let post of posts" layout="row" layout-wrap>
        <div>
            <div class="panel-heading"><h3>{{post.title}}</h3></div>
            <div class="panel-body">{{post.description}}
              <a class="nav-link"  [routerLink]="['/blogpost', post.id]">read more...</a>
            </div>
        </div>
    </div>
</div>

  