.div-main {
    padding: 40px;
    margin-top: 20px;
}

.div-post-container {
    padding: 25px;
    margin-top: 25px;
}

.div-post {
    padding: 25px;
    background-color: white;
    margin: 25px;
}
