body {
    font-family: 'Abel', sans-serif;
    font-size: large;
    margin-top: 70px;
}

html {
    position: relative;
    min-height: 100%;
}

.parallax {
    /* The image used */
    background-image: url("../images/bg-masthead.jpg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div-tech-blk {
    padding: 25px;
    background: rgba(10, 10, 10, 0.7);
    margin: 25px;
    font-size: 22px;
 }