
<div class="row">
  <div class="col-md-8 blog-main">
    <h1>
      {{ blogpost?.title }}
    </h1>
  </div>  
</div>  

<div class="blog-post">
    <h3>{{ blogpost?.description }}</h3>
    <h4>Category: {{ blogpost?.category }}</h4>
    <p class="blog-post-meta">{{ blogpost?.dateCreated | date }} by <a [routerLink]="['/about']">{{ blogpost?.author }}</a></p>
    <hr>
    <div [innerHTML]="blogpost?.body"></div>
    <hr>
    <div class="row">
      <p><i class="fa fa-share"></i>&nbsp;share&nbsp;|&nbsp;</p>
      <p><i class="fa fa-comment"></i>&nbsp;comments&nbsp;|&nbsp;</p>
      <a *ngIf="loggedIn()" [routerLink]="['/blog/new',blogpost.id]"><i class="fa fa-edit"></i>edit</a>
    </div>
</div>