
<div class="row">
  <div class="col-md-8 blog-main">
    <h1>
      {{ blogpost?.title }}
    </h1>
  </div>  
</div>  

<div class="blog-post">
    <h3>{{ blogpost?.description }}</h3>
    <h4>Category: {{ blogpost?.category }}</h4>
    <p class="blog-post-meta">{{ blogpost?.dateCreated | date }} by <a [routerLink]="['/about']">{{ blogpost?.author }}</a></p>
    <hr>
    <div [innerHTML]="blogpost?.body"></div>
    <hr>
    <div class="row">
      <button><i class="fa fa-share"></i> share</button>&nbsp;
      <button><i class="fa fa-comments"></i> comments</button>&nbsp;
      <button *ngIf="loggedIn()" (click)="editBlogPost(blogpost.id)"><i class="fa fa-edit"></i> edit</button>
    </div>
</div>