.center {
    margin: auto;
    width: 30%;
    border: 1px solid gainsboro;
    padding: 20px;
}

button {
    margin-top: 20px;
}

label {
    margin-top: 20px;
    margin-bottom: 5px;
    color: gray;
}

body {
    background-color: white;
}