<nav class="navbar navbar-expand-md main-nav fixed-top bg-light">
    <div class="container">
      <a class="navbar-brand white"
        [routerLink]="['/home']">
        <i class="fa fa-home"></i>
      </a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" 
                [scrollTo]="'#about'" [scrollDuration]="800" [scrollOffset]="0"
                >About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" 
                [scrollTo]="'#projects'" [scrollDuration]="800" [scrollOffset]="0"
                >Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" 
              [scrollTo]="'#signup'" [scrollDuration]="800" [scrollOffset]="0"
                >Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  